<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Notes</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/app.css">
    <!--[if IE 8]>
      <script src="/html5shiv/html5shiv.min.js"></script>
      <script src="/es5-shim/es5-shim.min.js"></script>
      <script src="/es5-shim/es5-sham.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="content" class="notes-html">{{{content}}}</div>
    {{~#unless noJs~}}
      <script id="initial-data" type="application/json">{{{initialData}}}</script>
      <script src="/app/js-dist/bundle.js"></script>
    {{~/unless~}}
  </body>
</html>
